<%- include('nav.ejs') %>
    <h1 style="margin: 145px 0px 13px 147px; display: flex; justify-content:left;">Ajouter un article</h1>
    <div class="container cont " >
        <form action="/articles/add" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="titre">Titre :</label>
                <input type="text" class="form-control" id="titre" name="Titre" required>
            </div>
        
            <div class="form-group">
                <label for="contenu">Contenu :</label>
                <textarea class="form-control" id="contenu" name="Description" required></textarea>
            </div>
        
            <div class="form-group">
                <label for="image">Image :</label>
                <input type="file" class="form-control" id="image" name="image" required>
            </div>
            <div class="form-group">
                <label for="date">Date :</label>
                <input type="date" class="form-control" id="date" name="date" required>
            </div>
            
            <div class="form-group">
                <label for="auteur">Auteur :</label>
                <input type="text" class="form-control" id="autheur" name="autheur" required>
            </div>
            
            <div class="form-group">
                <label for="categorie">Catégorie :</label>
                <select class="form-control" id="categorie" name="idcat" required>
                    <% categories.forEach(categorie => { %>
                        <option value="<%= categorie.IdCategorie %>"><%= categorie.Titre %></option>
                    <% }); %>
                </select>
            </div>
        
            <button type="submit" class="btn btn-primary">Ajouter l'article</button>
        </form>
    </div>

    <%- include ('footer.ejs') %>