<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog sur la Gestion du Temps</title>
</head>
<body>
   <!-- views/index.ejs -->

<h1>Bienvenue sur le Blog sur la Gestion du Temps</h1>
<ul>
    <% articles.forEach(article => { %>
        <li>
            <a href="/articles/<%= article.IdArticle %>"><%= article.Titre %></a>
            <p><%= article.Description %></p>
        </li>
    <% }); %>
</ul>

</body>
</html>
